<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
        <title>Reset - LET'S Delivery</title>
        <meta content="Login" name="Leonardo" />
        <meta content="Themesbrand" name="Leonardo" />

        <link href="assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
        <link href="assets/css/icons.css" rel="stylesheet" type="text/css">
        <link href="assets/css/style.css" rel="stylesheet" type="text/css">
    </head>

    <body>

        <!-- Background -->
        <div style="background: linear-gradient(90deg, rgba(250,163,0,1) 52%, rgba(255,75,62,1) 100%);" class="account-pages"></div>
        <!-- Begin page -->
        <div class="wrapper-page">

            <div class="card">
                <div class="card-body">

                    <h3 class="text-center m-0">
                        <a class="logo logo-admin"><img style="width: 170px;height: 80px;" href="index.html" src="https://static.wixstatic.com/media/5522a1_67daaa11d38d47f3906183c1e9ae3eb6~mv2.png/v1/fill/w_133,h_70,al_c,q_85,usm_0.66_1.00_0.01/LTD01%20-%20IDENTIDADE-57.webp" height="30" alt="logo"></a>
                    </h3>

                    <div class="p-3">
                        <form class="form-horizontal m-t-30" action="/reset-pass-user" method="POST">

                            <div class="form-group">
                                <label for="userpassword">Password</label>
                                <input type="password" name="pass" class="form-control" id="userpassword" placeholder="Password...">
                            </div>

                            <div class="form-group row m-t-20">
                                <div class="col-6">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="customControlInline">
                                        <label class="custom-control-label" for="customControlInline">Remember me</label>
                                    </div>
                                </div>
                                <div class="col-6 text-right">
                                    <button style="background-color:#faa300;border-color:#faa300" class="btn btn-primary w-md waves-effect waves-light" type="submit">Submit</button>
                                </div>
                            </div>

                            <!-- <div class="form-group m-t-10 mb-0 row"> -->
                            <!--     <div class="col-12 m-t-20"> -->
                            <!--         <a href="pages-recoverpw.html" class="text-muted"><i class="mdi mdi-lock"></i> Forgot your password?</a> -->
                            <!--     </div> -->
                            <!-- </div> -->
                        </form>
                    </div>

                </div>
            </div>

            <div class="m-t-40 text-center">
                <div style="color:#5b626b" class="col-12">
                    2022 © LET'S Delivery <span class="d-none d-sm-inline-block"></span>
                </div>
            </div>

        </div>

        <!-- END wrapper -->

        <!-- jQuery  -->
        <script src="assets/js/jquery.min.js"></script>
        <script src="assets/js/bootstrap.bundle.min.js"></script>
        <script src="assets/js/jquery.slimscroll.js"></script>
        <script src="assets/js/waves.min.js"></script>

        <script src="../plugins/jquery-sparkline/jquery.sparkline.min.js"></script>

        <!-- App js -->
        <script src="assets/js/app.js"></script>

    </body>

</html>
